@import '../abstract/variaveis';

.lista__atracoes{
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    text-align: center;
    margin: 1.5rem 0rem 1rem 0;
    color: $cor-texto;

    h2{
        font-family: $fonte-destaque;
        font-size: $tamanho-titulo;
        margin: 2rem 0 3.5rem 0;
    }

    .atracoes-sabado{
        background: $cor-dias;
        padding: 1rem 0;
        margin: 0 2.5rem;
        color: $branco;
        font-family: $fonte-destaque;
        font-size: $tamanho-titulo;
    }

    .atracoes-domingo{
        background: $cor-dias;
        padding: 1rem 0;
        margin: 0 1.5rem;
        color: $branco;
        font-family: $fonte-destaque;
        font-size: $tamanho-titulo;
    }


    div{
        font-family: $fonte-principal;
    }

    .atracoes--2{
        margin: 2rem 1rem;
    }

    h3{
        margin: 2rem 0;
        font-size: $tamanho-titulo + 1rem;
        font-weight: 800;
    }

    h4{
        margin: 1rem 0;
        font-size: $tamanho-titulo + 0.5rem;
        font-weight: 700;
    }
    
    h5{
        font-size: $tamanho-titulo;
        margin: 1rem 0;
        font-weight: 700;
    }

    h6{
        font-size: $tamanho-titulo;
        margin: 1rem 0;
        font-weight: 500;
    }
}


@media screen and (min-width: 768px) {
    .lista__atracoes{
        h2{
            font-size: $tamanho-titulo * 2.25;
        }

        .atracoes-sabado{
            background: $cor-dias;
            padding: 1rem 0;
            margin: 0 12.5rem;
            color: $branco;
            font-family: $fonte-destaque;
            font-size: $tamanho-titulo + 1rem;
        }

        .atracoes{
            margin: 1rem 0;
            .atracoes--2{
                display: flex;
                flex-flow: row wrap;
                justify-content: center;
                column-gap: 2rem;
                margin: 0rem 2rem;
            }
        }

        .atracoes-domingo{
            background: $cor-dias;
            padding: 1rem 0;
            margin: 0 10.5rem;
            color: $branco;
            font-family: $fonte-destaque;
            font-size: $tamanho-titulo + 1rem;
        }

        .atracoes__img{
            width: 100%;
            height: 330px;
            object-fit: cover;
        }

        .atracoes__img-pc{
            display: none;
        }
    }
}

@media screen and (min-width: 1368px) {
    .lista__atracoes{
        .atracoes-sabado{
            margin: 0 31.5rem;
        }
        .atracoes-domingo{
            margin: 0 29.5rem;
        }

        h3{
            margin: 2rem 0 1rem 0;
        }

        .atracoes__img{
           display: none;
        }

        .atracoes__img-pc{
            display: block;
        }
    }
}