@import '../abstract/variaveis';

.banner{
    background: url(../../../assets/img/Banner.svg);
    min-height: 270px;
    background-size: cover;
    opacity: 1;

    .banner__titulo {
        font-size: $tamanho-titulo;
        text-align: center;
        padding: 4rem 1.5rem;
        font-family: $fonte-destaque;
        font-weight: 400;
    }
}