@import '../abstract/variaveis';

.banner{
    background: url('../../img/Banner.jpeg');
    background-size: cover;
    opacity: 0.7;
    min-height: 350px;

    .banner__titulo {
        font-size: $tamanho-titulo;
        text-align: center;
        padding: 4rem 1.5rem;
        font-weight: 400;
    }
}