@import '../abstract/variaveis';

.container-rodape{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 0 3rem 0;

    p{
        font-size: $tamanho-texto + 0.25rem;
        line-height: 2rem;
        text-align: center;
        margin: 0.8rem 1.5rem;
    }
    .lista-redes{
        display: flex;
        justify-content: space-between;
        gap: 0.1rem;
    }
}

@media screen and (min-width: 768px) {
    .container-redes{
        display: flex;
        align-items: center;
        margin: 1rem 0;

        .lista-redes{
            column-gap: 0.5rem;
        }
    }
}

@media screen and (min-width: 1368px) {
   
   .container-rodape{
        display: flex;
 
   }
}