@import '../abstract/variaveis';

.cabecalho{
    background-color: $cor-cabecalho;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1.5rem;

    .cabecalho__lista{
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .cabecalho{
        display: flex;
        align-items: center;
        flex-direction: column;

        .cabecalho-logo{
            padding: 0 0 1.3rem 0;
        }

        .cabecalho__menu-hamburguer{
            display: none;
        }

        .cabecalho__lista{
            display: flex;
            gap: 3rem;

            .lista-item{
                color: $branco;
                font-size: $tamanho-texto + 0.25rem;
                font-family: $fonte-principal;
            }
        }

    }
}

@media screen and (min-width: 1368px) {
  .cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
   .cabecalho-logo{
    padding: 0;
   }
  }
}