// cor

$cor-cabecalho: #2E7BA2;
$verao: linear-gradient(180deg, #BFDAE6 0%, #FCF0DD 50%, #FACF9D 100%);
$cor-texto: #444444;
$branco: white;

//fonte

$fonte-destaque: 'Calistoga', sans-serif;
$fonte-principal: 'Raleway', sans-serif;

//tamanho fonte

$tamanho-titulo: 2rem;
$tamanho-texto: 1rem;

