body {
  background: linear-gradient(180deg, #BFDAE6 0%, #FCF0DD 50%, #FACF9D 100%);
}

.cabecalho {
  background-color: #2E7BA2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1.5rem;
}
.cabecalho .cabecalho__lista {
  display: none;
}

@media screen and (min-width: 768px) {
  .cabecalho {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .cabecalho .cabecalho-logo {
    padding: 0 0 1.3rem 0;
  }
  .cabecalho .cabecalho__menu-hamburguer {
    display: none;
  }
  .cabecalho .cabecalho__lista {
    display: flex;
    gap: 3rem;
  }
  .cabecalho .cabecalho__lista .lista-item {
    color: white;
    font-size: 1.25rem;
    font-family: "Raleway", sans-serif;
  }
}
@media screen and (min-width: 1368px) {
  .cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  .cabecalho .cabecalho-logo {
    padding: 0;
  }
}
.banner {
  background: url(../../../assets/img/Banner.svg);
  min-height: 400px;
  background-size: cover;
  opacity: 1;
}
.banner .banner__titulo {
  font-size: 2rem;
  text-align: center;
  padding: 4rem 1.5rem;
  font-family: "Calistoga", sans-serif;
  font-weight: 400;
}

@media screen and (min-width: 768px) {
  .banner {
    min-height: 768px;
  }
}
@media screen and (min-width: 1368px) {
  .banner {
    background: url(../../../assets/img/bannerpc.svg) no-repeat;
    min-height: 434px;
  }
}
.dates {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  font-family: "Raleway", sans-serif;
}
.dates .dates__titulo {
  font-size: 2rem;
  font-weight: 700;
  margin: 2rem 0;
  color: #444444;
  text-align: center;
}
.dates .dates__texto {
  color: #444444;
  font-size: 1.25rem;
  padding: 0 1rem;
  line-height: 2rem;
  text-align: center;
}
.dates .comprar__ingresso {
  background: #2E7BA2;
  width: 256px;
  height: 3rem;
  color: white;
  box-shadow: 0.3rem 0.3rem 0 #444444;
  border-radius: 0.6rem;
  font-weight: 700;
  font-size: 1.25rem;
  margin-top: 2rem;
  padding-top: 0.5rem;
  text-align: center;
}
.dates .comprar__ingresso::after {
  background-image: url(../../../assets/img/ticket.svg);
}

@media screen and (min-width: 768px) {
  .dates .dates__img {
    width: 600px;
    height: 380px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 1rem;
  }
  .dates .dates__titulo {
    margin: 2rem 9rem;
    line-height: 2.2rem;
  }
  .dates .dates__texto {
    padding: 0 3rem;
    line-height: 2.5rem;
  }
}
@media screen and (min-width: 1368px) {
  .dates {
    display: flex;
    flex-direction: row;
    margin: 0 1rem;
  }
  .dates .container__informacoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1rem;
  }
  .dates .container__informacoes .dates__titulo {
    margin-right: 5rem;
  }
  .dates .container__informacoes .dates__texto {
    padding: 0 5rem 0 5rem;
  }
}
.lista__atracoes {
  text-align: center;
  margin: 1.5rem 0rem 1rem 0;
  color: #444444;
}
.lista__atracoes h2 {
  font-family: "Calistoga", sans-serif;
  font-size: 2rem;
  margin: 2rem 0 3.5rem 0;
}
.lista__atracoes .atracoes-sabado {
  background: #DF9010;
  padding: 1rem 0;
  margin: 0 2.5rem;
  color: white;
  font-family: "Calistoga", sans-serif;
  font-size: 2rem;
}
.lista__atracoes .atracoes-domingo {
  background: #DF9010;
  padding: 1rem 0;
  margin: 0 1.5rem;
  color: white;
  font-family: "Calistoga", sans-serif;
  font-size: 2rem;
}
.lista__atracoes div {
  font-family: "Raleway", sans-serif;
}
.lista__atracoes .atracoes--2 {
  margin: 2rem 1rem;
}
.lista__atracoes h3 {
  margin: 2rem 0;
  font-size: 3rem;
  font-weight: 800;
}
.lista__atracoes h4 {
  margin: 1rem 0;
  font-size: 2.5rem;
  font-weight: 700;
}
.lista__atracoes h5 {
  font-size: 2rem;
  margin: 1rem 0;
  font-weight: 700;
}
.lista__atracoes h6 {
  font-size: 2rem;
  margin: 1rem 0;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .lista__atracoes h2 {
    font-size: 4.5rem;
  }
  .lista__atracoes .atracoes-sabado {
    background: #DF9010;
    padding: 1rem 0;
    margin: 0 12.5rem;
    color: white;
    font-family: "Calistoga", sans-serif;
    font-size: 3rem;
  }
  .lista__atracoes .atracoes {
    margin: 1rem 0;
  }
  .lista__atracoes .atracoes .atracoes--2 {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    -moz-column-gap: 2rem;
         column-gap: 2rem;
    margin: 0rem 2rem;
  }
  .lista__atracoes .atracoes-domingo {
    background: #DF9010;
    padding: 1rem 0;
    margin: 0 10.5rem;
    color: white;
    font-family: "Calistoga", sans-serif;
    font-size: 3rem;
  }
  .lista__atracoes .atracoes__img {
    width: 100%;
    height: 330px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .lista__atracoes .atracoes__img-pc {
    display: none;
  }
}
@media screen and (min-width: 1368px) {
  .lista__atracoes .atracoes-sabado {
    margin: 0 31.5rem;
  }
  .lista__atracoes .atracoes-domingo {
    margin: 0 29.5rem;
  }
  .lista__atracoes h3 {
    margin: 2rem 0 1rem 0;
  }
  .lista__atracoes .atracoes__img {
    display: none;
  }
  .lista__atracoes .atracoes__img-pc {
    display: block;
  }
}
.container-rodape {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 0 3rem 0;
}
.container-rodape p {
  font-size: 1.25rem;
  line-height: 2rem;
  text-align: center;
  margin: 0.8rem 1.5rem;
}
.container-rodape .lista-redes {
  display: flex;
  justify-content: space-between;
  gap: 0.1rem;
}

@media screen and (min-width: 768px) {
  .container-redes {
    display: flex;
    align-items: center;
    margin: 1rem 0;
  }
  .container-redes .lista-redes {
    -moz-column-gap: 0.5rem;
         column-gap: 0.5rem;
  }
}
@media screen and (min-width: 1368px) {
  .container-rodape {
    display: flex;
  }
}/*# sourceMappingURL=style.css.map */